{% extends "base.html" %}

{% block naslov %}
Luka Brinar | Homepage
{% endblock naslov %}

{% block omeni %}
class="active"
{% endblock omeni %}

{% block vsebina %}
<div class="col-md-8">

    <img class="img-responsive" src="http://saveotic.com/images/2017/03/11/Lo9ud.png">

    <h3> O meni </h3>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
{% endblock vsebina %}